#pestel{
  > div{
    position:relative;
  }

  .content{
    display:none;
    position:absolute;
    top:0;
    left:50%;
  }

  label{
    cursor:pointer;
  }

  input[type=radio]{
    display:none;

    &:checked + .content{
      display:flex;
    }
  }
}