#pestel{

  #pestelBlock{
    position:relative;
    margin-bottom:200px;
  }

  .content{
    display:none;
    position:absolute;
    top:0;
    left:80px;
    width:calc(80vw - 120px);
  }

  label{
    cursor:pointer;

    h3{
      display:inline;
      margin:10px;
      font-size:50px;
      font-family: "Avera Serif Libre", serif;

      &:hover{
        color:$green;
      }
    }
  }

  input[type=radio]{
    display:none;

    &:checked + .content{
      display:flex;
    }
  }
}

@media screen and (max-width:550px){

  #pestel {
    .content {
      width: calc(95vw - 120px);
    }

    #pestelBlock{
      margin-bottom: 350px;
    }
  }
}