@font-face {
  font-family: "glacialIndifference";
  src: url("../../fonts/glacial-indifference");
}
@font-face {
  font-family: "Avera Serif Libre";
  src: url("../../fonts/Averia_Serif_Libre");
}

h1, h2, h3, h4, h5, h6, p, li, a{
  font-family: glacialIndifference, Arial;
}

h1, h2, h3{
  font-weight: bold;
}

h1{
  font-size:xxx-large;
}

h2{
  font-size: xx-large;
}

h3{
  font-size:x-large;
}

h4{
  font-size: large;
}

h5{
  font-size:medium;
}

h6{
  font-size: small;
}